* {
    margin: 0%;
}

.Encabezado {
    color: black;
    background-color: red;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    height: 6em;

}


       


.desafios {
    text-align: center;

}

.fondo-grande {
    background-color: black;
    padding-top: 4rem;
    padding-bottom: 8rem;
    text-align: center;
    position: relative;
    position: relative;
    margin-top: 0%;
    border: 0%;

}

.row {
    align-content: space-around;
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: bolder;



}

.col-lg-6 {
    margin: top 5px;;
    margin-left: 55%;
    column-count: auto;
    margin: 10px;
    

}

.card {
    text-align: center;
    margin-left: 45%;
    background-color: yellow;
    font-family: 'Courier New', Courier, monospace;
   

}

footer {
    background-color: red;
}