.Encabezado{
    color: black;
    background-color: red;
    text-align: center;
    padding-bottom: 0%;
    border-collapse: 0ch;
}
.desafios{
    text-align: center;
}

.card{
    text-align: center;
    align-items: center;
}
.datos-contacto{
    background-color: red;
    text-align: center;
    align-items: flex-end;
}

.fondo-grande{
    background-color: black;
    padding-top: 0%;border-collapse: 0ch;

}